<div class="box" style="width: 400px">
  <div class="box-header with-border">
    <h3 class="box-title">Title</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <div class="box-body">
   Welcome to Page 2. Test The minimize Button!
  </div>
  <button style="width: 200px" [routerLink]="['/page1']" class="btn btn-primary btn-block btn-flat" type="submit">
    <span>Redirect to Page 1</span>
  </button>
</div>